
	h1 {
		font-size : 34px;
		text-align : center;
		font-family : georgian;
		color : #b30059;
		}
	
	table {
		font-size : 26px;
		text-align : left;
		font-family : georgian;
		}

	th	{
		font-weight :1;
		}
		
	p {
		font-size : 26px;
		text-align : left;
		font-family : georgian;
		}
		
	div.a	{
		text-indent : 20px;
		}
		
